/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [dbSRM]    Script Date: 08/10/2017 5:05:23 ******/
CREATE DATABASE [dbSRM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbSRM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\dbSRM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbSRM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\dbSRM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbSRM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbSRM]
GO
USE [dbSRM]
GO
/****** Object:  Table [dbo].[alumno]    Script Date: 08/10/2017 5:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumno](
	[codigo] [varchar](10) NOT NULL,
	[nombre] [varchar](30) NULL,
	[apellido] [varchar](30) NULL,
	[sexo] [varchar](1) NULL,
	[periodoingreso] [varchar](6) NULL,
	[dni] [varchar](8) NULL,
	[carrera] [varchar](50) NULL,
	[fechanacimiento] [varchar](10) NULL,
	[direccion] [varchar](50) NULL,
	[creditostotales] [int] NULL,
	[creditosmatriculados] [int] NULL,
 CONSTRAINT [PK__alumno__40F9A207E9138E13] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curso]    Script Date: 08/10/2017 5:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso](
	[codigo] [varchar](5) NOT NULL,
	[nombre] [varchar](40) NULL,
	[descripcion] [varchar](30) NULL,
	[carrera] [varchar](50) NULL,
	[creditaje] [int] NULL,
 CONSTRAINT [PK__curso__40F9A2076806D6F9] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docente]    Script Date: 08/10/2017 5:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docente](
	[codigo] [varchar](7) NOT NULL,
	[nombre] [varchar](30) NULL,
	[apellido] [varchar](30) NULL,
	[dni] [varchar](8) NULL,
	[fechanacimiento] [varchar](10) NULL,
	[descripcion] [varchar](200) NULL,
	[direccion] [varchar](50) NULL,
	[carrera] [varchar](50) NULL,
	[contrato] [varchar](2) NULL,
 CONSTRAINT [PK__docente__40F9A207A45D96AC] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[matricula]    Script Date: 08/10/2017 5:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matricula](
	[codigo] [int] NOT NULL,
	[codigoalumno] [varchar](10) NULL,
	[codigoseccion] [varchar](4) NULL,
	[codigousuario] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seccion]    Script Date: 08/10/2017 5:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seccion](
	[codigo] [varchar](4) NOT NULL,
	[sede] [varchar](15) NULL,
	[modalidad] [varchar](15) NULL,
	[periodo] [varchar](6) NULL,
	[codigocurso] [varchar](5) NULL,
	[codigodocente] [varchar](7) NULL,
	[dia] [varchar](10) NULL,
	[horainicio] [int] NULL,
	[numerohoras] [int] NULL,
	[aula] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 08/10/2017 5:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[codigo] [varchar](9) NOT NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](20) NULL,
	[nombre] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [FK__matricula__codig__628FA481] FOREIGN KEY([codigoalumno])
REFERENCES [dbo].[alumno] ([codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [FK__matricula__codig__628FA481]
GO
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [FK__matricula__codig__6383C8BA] FOREIGN KEY([codigoseccion])
REFERENCES [dbo].[seccion] ([codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [FK__matricula__codig__6383C8BA]
GO
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [FK__matricula__codig__6477ECF3] FOREIGN KEY([codigousuario])
REFERENCES [dbo].[usuario] ([codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [FK__matricula__codig__6477ECF3]
GO
ALTER TABLE [dbo].[seccion]  WITH CHECK ADD  CONSTRAINT [FK__seccion__codigoc__619B8048] FOREIGN KEY([codigocurso])
REFERENCES [dbo].[curso] ([codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[seccion] CHECK CONSTRAINT [FK__seccion__codigoc__619B8048]
GO
ALTER TABLE [dbo].[seccion]  WITH CHECK ADD  CONSTRAINT [FK__seccion__codigod__60A75C0F] FOREIGN KEY([codigodocente])
REFERENCES [dbo].[docente] ([codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[seccion] CHECK CONSTRAINT [FK__seccion__codigod__60A75C0F]
GO
USE [master]
GO
